<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= message.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% message.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

</div>
