 
<header class="text-gray-600 body-font">
  <!-- nav partial used by rails application.html.erb -->
  <!-- and spina default/application.html.erb -->
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Tailblocks</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/communications" class="mr-5 hover:text-gray-900">communications (single file)</a>
      <a href="/messages" class="mr-5 hover:text-gray-900">messages (multi file)</a>
      <a href="/upload" class="mr-5 hover:text-gray-900">upload (rails open)</a>
      <a href="/dave" class="mr-5 hover:text-gray-900">dave (rails open)</a>
      <a href="/users" class="mr-5 hover:text-gray-900">users (rails open crud)</a>
      <a href="/secret" class="mr-5 hover:text-gray-900">secret (rails only admin)</a>
      <a href="/admin" class="mr-5 hover:text-gray-900">admin (spina)</a>
      <a href="/about" class="mr-5 hover:text-gray-900">about (spina)</a>
      <a href="/widget" class="mr-5 hover:text-gray-900">widget (spina repeater)</a>
    </nav>
    <!-- rubyism ? means returning true or false -->
    <%if(user_signed_in?)%>
    <!-- destroy_user_session_path is a devise helper but for some reason isn't working so hard coded path -->
      <%=button_to "Logout","/logout", method: :delete, class: "inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"%>
    <%else%>
    <!-- new_user_session_path is a devise helper but for some reason isn't working so hard coded path -->
      <a href="/login" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    <%end%>
  </div>
</header>